body{
  font-family: Arial, Helvetica, sans-serif;
}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-registration {
  height: 35px;
  width: 70vw;
  padding: 0 5px;
}


.submit {  
  font-size: auto;
  background-color: #6699cc;
  color: black;
  padding: 14px 20px;
  margin: 8px 8px;
  border: 4px;
  cursor: pointer;
  width: auto;
  border-radius: 12px;
}

.submit_delete {  
  font-size: auto;
  display: flex;
  float: right;
  background-color: #4ab3b3e1;
  color: black;
  padding: 4px 4px;
  border: 4px;
  cursor: pointer;
  width: auto;
  border-radius: 6px;
}

.submit_Overlay {  
  font-size: auto;
  background-color: #6699cc;
  color: black;
  padding: 13px 12px;
  margin: 4px 4px;
  border: 4px;
  cursor: pointer;
  width: auto;
  border-radius: 12px;
}

.submitRED {  
  font-size: auto;
  background-color: #ff0000e1;
  color: black;
  padding: 14px 20px;
  margin: 8px 8px;
  border: 4px;
  cursor: pointer;
  width: auto;
  border-radius: 12px;
}

.x{
  position:absolute;
  right: 5px;
  top: 5px;
  background-color: #4ab3b3e1;
  color: black;
  cursor: pointer;
}
.inline {
  display:inline-table;
  float:left;
  top: 50px;
  font-weight: bold;
}

.inline2{
  display: block;
  width: auto;
  margin-top: 0px;
}

.inline3 {
  display:inline-table;
  right: 25px;
  top: 50px;
  font-weight: bold;
}

.boldtext{
  font-weight: bold;
}

.boldtextSB{
  font-weight: bold;
  color: #157272e1;
}

.boldtextLSB{
  font-weight: bold;
  color: rgb(52, 106, 187);
}

.boldtextSDB{
  font-weight: bold;
  color:rgb(9, 170, 199);
}

.files-box{
  display: grid;
  font-weight: bold;
  color:rgb(62, 26, 148);
  text-align: left;
  border: #157272e1;
  border-style:solid;
  border-width:3px;
  padding: 4px;
  border-radius: 12px;
}

.collab-box{
  display: grid;
  font-weight: bold;
  color:rgb(62, 26, 148);
  text-align: left;
  border: solid #000000e1;
  border-width:3px;
  border-radius:2px;
  padding: 6px;
  width:min-content;
}

.divider{
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: -2px
}

.colors {
  color: rgb(6, 48, 126);
  font-weight: bold;
  margin-left:30px;
}

.grad1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.grad2 {
  width: 82vw;
  justify-content: center;
  background-color: #fce8c6;
  border: solid #000000e1;
  border-radius:2px;
}



.smll {
  font-size: 12px;
  color: red;
  padding-bottom: 3px;
}

.smllTEST {
  font-size: 12px;
  color: red;
  padding-left: 8px;
}
.smll2 {
  font-size: 12px;
  color: rgb(76, 0, 255);
  padding-left: 8px;
}

.requi {
  color: black;
  overflow-wrap: break-word;
  font-size: auto;
  display:inline-block;
  text-align: center;
  background-color: #4ab3b3e1;
}

.submit2 {
  text-overflow: ellipsis;
  background-color: #4ab3b3e1;
  color: black;
  padding: 14px 20px;
  margin: 8px 8px;
  border: 4px;
  cursor: pointer;
  width: 200px;
  border-radius: 12px;
}

.submit3 {
  font-size: auto;
  background-color: #4ab3b3e1;
  margin-right: 10px;
  color: black;
  cursor: pointer;
  width: auto;
}

.submit:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 25%;
  border-radius: 50%;
}

img.avatar2 {   
  float: left;
  width: 44px;
  text-align:center;
  font-size: 17px;
  border-radius: 100%;
  padding: 5px 20px 5px 20px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 25%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 201, 158, 0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow-y:scroll;
}

#overlay2 {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 25%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 136, 42, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#delete_overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 136, 42, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text4{
  position: relative;
  background-color: #4682b4;
  top: 25%;
  left: 50%;
  border-radius: 8px;
  padding: 3px;
  margin: 2px;
  font-size: 17px;
  color: rgb(0, 0, 0);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.container {
  overflow-wrap: break-word;
  text-align: center;
  padding: 8px;
}

.floater {
  margin: auto;
  float: right;
}

.test2 {
  display: flex;
  justify-content: center;
  background-color: #aadddde1;
}
.file_contents{
  width: 82vw;
  border-radius: 4px;
  overflow-x: auto;
  white-space:pre;
}

.file_contents_margin{
  margin-left: 24px;
}

.file_display_header {
  display: flex;
  width: 100%;
  border-bottom: solid 2px black;
  min-width: 1000px;
  background-color: #F5F5DC;
  padding-top: 12px;
  padding-bottom: 12px;
}

.file_display_delete{
  position:static;
  padding-left: 12px;
  right: 0%;
}

.file_display_text{
  text-indent: 12px
}

span.psw {
  float: right;
  padding-top: 16px;
}

.sign-out{
  position: absolute;
  left: 92%;
  margin:auto;
  background-color: #3f7faa ;
  padding: 14px 26px;
  border: none;
  cursor: pointer;
}

.pill-nav a {
  display: inline-block;
  color: rgb(5, 238, 160);
  text-align: center;
  padding: 14px;
  font-size: 16px;
  border-radius: 15px;
  height:fit-content;
  width: fit-content;
  font-weight: bold;
}

.navbar {
  width: 100%;
  background-color: #7c7574;
  /* background-color: #659fa3e1; */
  overflow: auto;
  padding: 5px;
  top: 0px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color:#F5F5DC;
  color: black;
}

.test11 {
  background-color:rgb(255, 214, 181);
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color:#4ab3b3e1;
  color: black;
}

/* Popup style */
.popup-box {
  bottom: 10px;
  width: 25%;
  height: 25%;
  margin: 10px;
  min-width:400px;
}

.hide {
  display: none;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #dedfdfe1;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.box2 {
  position:fixed;
  top:50%;
  left:50%;
  width:auto;
  background: #dedfdfe1;
  border-radius: 4px;
  border: 1px solid #999;
}

/*#9adddde1
this was a color used previously in the above. I didn't like it so I changed it.
*/

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.switch {

  position: relative;
  display: inline-flex;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  padding-left: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #020202;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #b3fdfde1;
}

tr:nth-child(odd) {
  background-color: #8cb1b1e1;
}